body {
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #1F1D20;  
}

.app {
  display: flex;
  flex-flow: column;
  max-width: 30em;
  margin: 0 auto;
  position: relative;
  padding: .5em;
}

h1 {
  color: #d9d6d6;
  padding: 0 .3em;
  font-size: 1.5em;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.logo-wrap {
  display: flex;
  max-width: 11em;
  margin: 0 auto;
  margin-top: 3vh;
}

.logo-wrap img {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.player-wrap {
  background: #313236c7;
  max-height: 30vh;
  display: flex;
  justify-content: center;
}

.player-wrap iframe {
  margin: 1em 0;
}

.playlist-data {
  width: 100%;
  background: #9a00a7;
  color: #fff;
  font-size: .8em;
  text-align: center;
  padding: .9em 0;
  font-weight: bold;
}

.playlist {
  background: #1F1D20;
  color: #fff;
  padding: .3em 1em;
  border-radius: 4px;
}

/* Podcast ruleta */

.episode-box {
  background-color: #141414;
  box-shadow: 9px 9px 2px 1px rgba(146, 48, 207, 0.121);
  border: .1rem solid #d9d6d6;
  border-radius: 4px;
  margin: 5rem 0;
  padding: 1.5rem;
}

.info-episode-box {
  display: flex;
  margin: 0.5rem;
}

.podcast img {
  max-width: 7rem;
}

.podcast-title {
  color: #d9d6d6;
  margin-left: 1rem;
}

.podcast-title p {
  margin: 0 0 .4rem 0;
}

.podcast-title p:first-child {
  font-weight: bold;
}

audio {
  margin-top: 1rem;
  width: 100%;
}

/* // Large devices (desktops, 992px and up) */
/* @media screen and (min-width: 62em) {
  .logo-wrap {
    max-width: 15em;
    margin-top: 15vh;
  }
} */